@model IEnumerable<MiniProject.Models.Commande>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCommande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalHt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTtc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCommande)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalHt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
