@model IEnumerable<MiniProject.Models.TypeClient>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="w-full mt-6 bg-white">
    <p class="text-xl pb-3 flex items-center">
        <i class="fas fa-list mr-3"></i> Table Example
    </p>
    <div class="bg-white overflow-auto">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"> @Html.DisplayNameFor(model => model.Libelle)</th>
                    <th class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm">Action</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                @foreach (var item in Model)
                    {
                       <tr class="bg-gray-200">
                           <td class="w-1/3 text-left py-3 px-4">@Html.DisplayFor(modelItem => item.Libelle)</td>
                           <td class="w-1/3 text-left py-3 px-4">
                               <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                               <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                               <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           </td>
                       </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
